@viewport {
  width: device-width;
  zoom: 1;
}
body {
  background-image: url('https://www.amnh.org/var/ezflow_site/storage/images/media/tornado-leading-image/1666587-1-eng-US/tornado-leading-image.jpg');
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: space-around;
}
.game {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
#options {
  text-align: center;
  color: dimgray;
}
#options div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#options button {
  color: dimgray;
  padding: 1em;
  margin-bottom: 33px;
  font-size: 27px;
  font-family: 'Indie Flower', cursive;
}
#ngb {
  color: dimgray;
}
.letters {
  color: dimgray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
h2 {
  color: white;
  font-size: 66px;
  text-align: center;
}
h3 {
  color: white;
  font-size: 66px;
  text-align: center;
}
p {
  color: white;
  font-size: 44px;
  text-align: center;
}
#letters button {
  height: 2.2em;
  width: 2.2em;
  margin: 1.1em;
}
#user-input {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3em;
  gap: 0.5em;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
#ngb {
  width: 50%;
  height: 50px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 22px;
}
#full-house {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#house {
  display: flex;
  justify-content: center;
}
#roof {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}
.line-1 {
  border-left: 3px solid white;
  transform: rotate(45deg);
  transform-origin: top center;
  height: 145px;
  width: 0px;
  animation-direction: alternate;
}
.line-2 {
  border-left: 3px solid white;
  transform: rotate(315deg);
  transform-origin: top center;
  height: 145px;
  width: 0px;
  animation-direction: alternate;
}
.line-3 {
  border-left: 3px solid white;
  height: 200px;
  width: 0px;
  animation-direction: alternate;
}
.line-4 {
  border-bottom: 3px solid white;
  width: 200px;
  animation-direction: alternate;
}
.line-5 {
  border-right: 3px solid white;
  height: 200px;
  width: 0px;
  animation-direction: alternate;
}
