body {
  background-image: url('https://media.giphy.com/media/d3mlXPjoK1ROfr9u/giphy-downsized-large.gif');
  background-size: cover;
  font-family: 'Bangers', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  color: rgb(23, 23, 61);
  font-family: 'Bangers', cursive;
  font-size: 151px;
  background-color: rgb(225, 218, 218, 0.6);
  border: none;
  margin: 191px;
  cursor: grab;
}
