body {
  background-image: url('https://www.amnh.org/var/ezflow_site/storage/images/media/tornado-leading-image/1666587-1-eng-US/tornado-leading-image.jpg');
  padding: 0;
  margin: 0;
  font-family: 'Varela', sans-serif;
  display: flex;
  justify-content: space-around;
}
.game {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
#options {
  text-align: center;
  color: dimgray;
}
#options div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#options button {
  color: dimgray;
  padding: 1em;
  margin-bottom: 33px;
  font-size: 20px;
}
#options button.disabled {
  background-color: white;
}
#options button.active {
  background-color: navy;
  border: 3px solid navy;
  color: dimgray;
}
#ngb {
  color: dimgray;
}
.letters {
  color: dimgray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
  font-size: 14px;
}
h2 {
  color: white;
  font-size: 55px;
  text-align: center;
}
h3 {
  color: white;
  font-size: 55px;
  text-align: center;
}
p {
  color: white;
  font-size: 33px;
  text-align: center;
}
#letters button {
  height: 2.2em;
  width: 2.2em;
  margin: 1.1em;
}
#user-input {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em;
  gap: 0.5em;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
#ngb {
  width: 100%;
  height: 50px;
}
#full-house {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#house {
  display: flex;
  justify-content: center;
}
#roof {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
.line-1 {
  border-left: 3px solid white;
  transform: rotate(45deg);
  transform-origin: top center;
  height: 97px;
  width: 0px;
}
.line-2 {
  border-left: 3px solid white;
  transform: rotate(315deg);
  transform-origin: top center;
  height: 96px;
  width: 0px;
}
.line-3 {
  border-left: 3px solid white;
  height: 133px;
  width: 0px;
}
.line-4 {
  border-bottom: 3px solid white;
  width: 137px;
}
.line-5 {
  border-right: 3px solid white;
  height: 133px;
  width: 0px;
}
